.base {
    padding: 8px 14px;
    font-size: var(--font-size-400);
    border-radius: 12px;
    text-decoration: none;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
}

.primary {
    background-color: var(--color-background-emphasis);
    color: var(--color-foreground-on-emphasis);
}

.secondary {
    background-color: var(--color-background-base);
    color: var(--color-foreground-base);
    border-color: var(--color-border-accent);
}